header {
    margin-bottom: 3rem;
}

body {
    background: white;
}

footer {
    background: #212529;
    margin-top: 3rem;
    color: white;
}

.gameImage{
	padding-left: 100px;

}

.fontSize{
	font-size: 22px;
}

.articleMargin{
	padding-left:480px;
}

