header {
    margin-bottom: 3rem;
}

body {
    background: rgb(226, 226, 226);
}

footer {
    background: #212529;
    color: white;
}

/* Small reset */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  color: #34495e;
  padding-bottom: 100px;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none
}

a,
a:visited {
  color: #3498db
}

a:hover {
  text-decoration: underline
}

a:active {
  color: #2ecc71
}

p {
  margin: 1em 0;
  line-height: 1.4
}







/* Center website */
.main {
  max-width: 75%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

/* Add padding BETWEEN each column */
.rows,
.rows>.column {
  margin-bottom: 2rem;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none;
  /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #df4c4c;;
  color: white;
}

.container-fluid {
  max-width: 75%;
}

#myBtnContainer {
  margin-bottom: 2rem;
}

.content {
  padding:5px;
}

.searchbox {
  margin-bottom: 1rem;
}